@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Changed to black */
  --background-start-rgb: 255, 255, 255; /* Changed to white */
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0; /* Remains black in dark mode */
    --background-start-rgb: 255, 255, 255; /* Remains white in dark mode */
    --background-end-rgb: 255, 255, 255; /* Remains white in dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb)); /* This will now be black */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); /* This will now be white */
}